<ion-view>
<ion-header-bar class="bar-light" style="background-color:#b21e2c;" ng-controller="MyCtrl">
      <a ng-click="myGoBack()"><i class="ion-android-arrow-back" style="font-size:20px; line-height:35px; margin-left:5px;"></i></a>
  <h1 class="title" style="color:white; font-size:15px;">CÁLCULO DE PAREDE</h1>
</ion-header-bar>
<body>
 <ion-content class="has-header">
<div class="list"">
  <label class="item item-input item-stacked-label"><br>
    <span class="input-label">Altura da Parede</span>
    <input type="number" placeholder="m" pattern="\d*" ng-model="altura">
  </label>
  <label class="item item-input item-stacked-label"><br>
    <span class="input-label">Largura da Parede</span>
    <input type="number" placeholder="m" pattern="\d*" ng-model="largura">
  </label>
</div>
<div ng-controller="PopupCtrl">
<a class="button" ng-click="showAlert()" style="float: right; margin-right: 30px; padding: 0px; color:#b21e2c; background-color:transparent; font-size:15px;">CALCULAR</a>
</div>
  </ion-content>
</ion-view>
</body>