<ion-pane>
  <ion-header-bar class="bar-light" style="background-color:#a1bc31;" ng-controller="MyCtrl">
    <a ng-click="myGoBack()"><i class="ion-android-arrow-back" style="font-size:20px; line-height:35px; margin-left:5px;"></i></a>
    <h1 class="title" style="color:white; font-size:15px;">BIBLIOTECA</h1>
  </ion-header-bar>
  <ion-view>
    <ion-content class="has-header" ng-controller="AbrirLink">

      <div class="list">
        <div class="item item-divider">CATÁLOGOS</div>
        <a class="item" ng-click="openInAppBrowser('https://drive.google.com/file/d/0B7BXyrZqzETAQk1OUC1RNEIzcVE/view?usp=sharing')">
          Trevo Forros
        </a>
        <a class="item" onclick="window.open('https://drive.google.com/file/d/0B7BXyrZqzETATmc2b1oxRXlfYVE/view?usp=sharing','_blank')">
          Trevo Blocos
        </a>
        <a class="item" ng-click="openInAppBrowser('https://drive.google.com/file/d/0B7BXyrZqzETAeTYtS0dubmRRZkk/view?usp=sharing')">
          Trevo Placas
        </a>
        <div class="item item-divider">PUBLICAÇÕES TÉCNICAS</div>
        <a class="item" ng-click="openInAppBrowser('https://drive.google.com/file/d/0B7BXyrZqzETAbUlwVXhhVFdMblE/view?usp=sharing')">
          Procedimento para execução de alvenaria<br>em blocos de gesso
        </a>
        <a class="item" ng-click="openInAppBrowser('https://drive.google.com/file/d/0B7BXyrZqzETAdGhtelp0Unh2c1E/view?usp=sharing')">
          Estoque e armazenamento de blocos
        </a>
        <a class="item" ng-click="openInAppBrowser('https://drive.google.com/file/d/0B7BXyrZqzETAQWlGdlBjYUVtUXM/view?usp=sharing')">
          Ficha técnica tela de poliester 2x2 002
        </a>
        <a class="item" ng-click="openInAppBrowser('https://drive.google.com/file/d/0B7BXyrZqzETAOVdKZzdXTU9rUEE/view?usp=sharing')">
          Procedimento de execução de forro<br>removível VR 004
        </a>
        <a class="item" ng-click="openInAppBrowser('https://drive.google.com/file/d/0B7BXyrZqzETAenlZQWgxN0E0dFk/view?usp=sharing')">
          Informações de estoque e armazenamento<br>dos Trevo Blocos
        </a>
        <a class="item" ng-click="openInAppBrowser('https://drive.google.com/file/d/0B7BXyrZqzETARTIxWVJZblBpS2M/view?usp=sharing')">
          Diretrizes para Avaliação Técnica de<br>Produtos- DIRETRIZ SINAT
        </a>
        <a class="item" ng-click="openInAppBrowser('https://drive.google.com/file/d/0B7BXyrZqzETAdFZlRTJjTHpRbWs/view?usp=sharing')">
          Divisórias internas de edifícios em<br>alvenaria de bloco de gesso
        </a>
        <a class="item" ng-click="openInAppBrowser('https://drive.google.com/file/d/0B7BXyrZqzETAektZZ3RIMi02VGc/view?usp=sharing')">
          Informações de Segurança
        </a>
        <a class="item" ng-click="openInAppBrowser('https://drive.google.com/file/d/0B7BXyrZqzETAcGh0ZlRwekh3SUk/view?usp=sharing')">
          Pasta de Gesso como revestimento interno<br>de paredes e tetos
        </a>
        </ion-content>
      </ion-pane>
    </ion-view>