<ion-view view-title="Gesso Trevo">
     <ion-content style="background-color: #6ba244;" scroll="false">
      <header>
        <img src="http://i.imgur.com/BFsT04q.jpg"/>
        <!--<h2>GESSO TREVO</h2>-->
      </header>
      <div class="inicio">
      <div class="row" style="margin-top:20px;">
      <div class="col"><a ng-href="#/lista" class="button button-stable"><i class="ion-calculator"></i></a><p>CÁLCULO DE MATERIAIS</p></div>
      <div class="col"><a ng-href="#/info" class="button button-stable"><i class="ion-folder"></i></a><p>INFORMAÇÕES TÉCNICAS</p></div>
    </div>
      <div class="row">
      <div class="col"><a ng-href="#/rede" class="button button-stable"><i class="ion-map"></i></a><p>REDE AUTORIZADA</p></div>
      <div class="col"><a ng-href="#/contato" class="button button-stable"><i class="ion-ios-email"></i></a><p>CONTATO</p></div>
      </div>
      </div>
  </ion-content>
</ion-view> 
