<ion-pane>
  <ion-header-bar class="bar-light" style="background-color:#a1bc31;" ng-controller="MyCtrl">
    <a ng-click="myGoBack()"><i class="ion-android-arrow-back" style="font-size:20px; line-height:35px; margin-left:5px;"></i></a>
    <h1 class="title" style="color:white; font-size:15px; text-align:center;">POLI JUNIOR ENGENHARIA</h1>
  </ion-header-bar>
  <ion-view>
    <ion-content class="has-header" ng-controller="AbrirLink">
     <div class="list card">

      <a class="item item-icon-left" target="_system" ng-click="openInAppBrowser('http://www.polijuniorengenharia.com.br')">
      <i class="icon ion-ios-world-outline"></i>
        <p style="text-align:left;"> Nosso Site</p>
      </a>
      <a class="item item-icon-left" ng-click="openInAppBrowser('https://www.facebook.com/PoliJuniorEngenharia')">
        <i class="icon ion-social-facebook"></i>
        <p style="text-align:left;">  Poli Júnior Engenharia</p>
      </a>

      <a class="item item-icon-left">
        <i class="icon ion-ios-location"></i>
        <p style="text-align:left;">Rua Benfica, 455 - Madalena<br>
          Recife, PE 50720-001</p>
        </a>

        <a ng-href="tel:(81) 3184-7554" class="item item-icon-left">
          <i class="icon ion-ios-telephone"></i>
          <p style="text-align:left;">(81) 3184-7554</p>
        </a>

        <a ng-href="mailto:comercial@polijuniorengenharia.com.br" class="item item-icon-left">
          <i class="icon ion-email"></i>
          <p style="text-align:left;"> comercial@polijuniorengenharia.com.br</p>
        </a>

      </div>

    </ion-content>
  </ion-pane>
</ion-view>
