<ion-pane>
	<ion-header-bar class="bar-light" style="background-color:#a1bc31;" ng-controller="MyCtrl">
		<a ng-click="myGoBack()"><i class="ion-android-arrow-back" style="font-size:20px; line-height:35px; margin-left:5px;"></i></a>
		<h1 class="title" style="color:white; font-size:15px;">REDE AUTORIZADA</h1>
	</ion-header-bar>
	<ion-view>
		<ion-content class="has-header">

			<div class="item item-divider">ALAGOAS</div>
			<div class="list card">
				<p style="text-align:center; color:black;">DEFFINE CONSTRUÇÕES E REFORMAS</p>
				<a ng-href="" class="item item-icon-left"><i class="icon ion-ios-location"></i><p>Avenida Dr. Júlio Marques Luz, 1596<br>Jatiuca | Maceió - Alagoas</p></a>
				<a ng-href="tel:(82)33173822" class="item item-icon-left"><i class="icon ion-ios-telephone"></i><p>(82) 3317-3822</p></a>
				<a ng-href="mailto:administrativo@deffinebr.com.br" class="item item-icon-left"><i class="icon ion-ios-email"></i><p>administrativo@deffinebr.com.br</p></a>
			</div>

			<div class="item item-divider">MINAS GERAIS</div>
			<div class="list card">
				<p style="text-align:center; color:black;">TREVO INDÚSTRIA E COMÉRCIO<br>DE ARTEFATOS DE CIMENTO</p>
				<a ng-href="" class="item item-icon-left"><i class="icon ion-ios-location"></i><p>Avenida Dionísio Gomes, 8 Veneza<br>Ribeirão das Neves - Minas Gerais</p></a>
				<a ng-href="tel:(31)36251888" class="item item-icon-left"><i class="icon ion-ios-telephone"></i><p>(31) 3625-1888</p></a>
				<a ng-href="tel:(31)985987888" class="item item-icon-left"><i class="icon ion-iphone"></i><p>(31) 8598-7888</p></a>
				<a ng-href="mailto:gessoegesso@hotmail.com" class="item item-icon-left"><i class="icon ion-ios-email"></i><p>gessoegesso@hotmail.com</p></a>
			</div>
			
			<div class="item item-divider">PARAÍBA</div>
			<div class="list card">
				<p style="text-align:center; color:black;">JCR INCORPORAÇÕES DE EMPREENDIMENTOS</p>
				<a ng-href="" class="item item-icon-left"><i class="icon ion-ios-location"></i><p>João Pessoa - Paraíba</p></a>
				<a ng-href="tel:(83)3512-6333" class="item item-icon-left"><i class="icon ion-ios-telephone"></i><p>(83) 3512-6333</p></a>
				<a ng-href="tel:(83)988106338 |" class="item item-icon-left"><i class="icon ion-iphone"></i><p>(83) 8810-6338</p></a>
				<a ng-href="mailto:jcrincorporacoes@hotmail.com" class="item item-icon-left"><i class="icon ion-ios-email"></i><p>jcrincorporacoes@hotmail.com</p></a>
			</div>

			<div class="item item-divider">PERNAMBUCO</div>
			<div class="list card">
				<p style="text-align:center; color:black;">PERFECT FORROS</p>
				<a ng-href="" class="item item-icon-left"><i class="icon ion-ios-location"></i><p>Rua Itacaré, 190, Imbiribeira<br>Recife - Pernambuco</p></a>
				<a ng-href="tel:(81)34281289" class="item item-icon-left"><i class="icon ion-ios-telephone"></i><p>(81) 3428-1289</p></a>
				<a ng-href="mailto:financeiro@perfectforros.com.br" class="item item-icon-left"><i class="icon ion-ios-email"></i><p>financeiro@perfectforros.com.br</p></a>
			</div>
			<div class="list card">
				<p style="text-align:center; color:black;">DIVIPLUS DIVISÓRIAS</p>
				<a ng-href="" class="item item-icon-left"><i class="icon ion-ios-location"></i><p>Estrada da Batalha, 59, Prazeres<br>Jaboatão dos Guararapes - PE</p></a>
				<a ng-href="tel:(81)33261566" class="item item-icon-left"><i class="icon ion-ios-telephone"></i><p>(81) 3326-1566</p></a>
				<a ng-href="mailto:mauroosorio@diviplusdivisorias.com.br" class="item item-icon-left"><i class="icon ion-ios-email"></i><p>mauroosorio@diviplusdivisorias.com.br</p></a>
			</div>
			<div class="list card">
				<p style="text-align:center; color:black;">JPAR COMERCIAL</p>
				<a ng-href="" class="item item-icon-left"><i class="icon ion-ios-location"></i><p>Estrada do Redentor, 400<br>Camaragibe | Recife - Pernambuco</p></a>
				<a ng-href="tel:(81)999598862" class="item item-icon-left"><i class="icon ion-iphone"></i><p>(81)9 9959-8862</p></a>
				<a ng-href="mailto:gjpgesso@uol.com.br" class="item item-icon-left"><i class="icon ion-ios-email"></i><p>gjpgesso@uol.com.br</p></a>
			</div>

		<div class="item item-divider">RIO GRANDE DO NORTE</div>
			<div class="list card">
				<p style="text-align:center; color:black;">GESSO TINTAS</p>
				<a ng-href="" class="item item-icon-left"><i class="icon ion-ios-location"></i><p>Travessa Catetinho 231<br>Cidade da Esperança | Natal - RN</p></a>
				<a ng-href="tel:(84)996435900" class="item item-icon-left"><i class="icon ion-iphone"></i><p>(84)996435900</p></a>
				<a ng-href="mailto:gessoeservicos@hotmail.com" class="item item-icon-left"><i class="icon ion-ios-email"></i><p>gessoeservicos@hotmail.com</p></a>
			</div>
			<div class="list card">
				<p style="text-align:center; color:black;">DIVIAÇO</p>
				<a ng-href="" class="item item-icon-left"><i class="icon ion-ios-location"></i><p>Avenida Coronel Estevam<br>1858 Térreo e 1º Andar<br>Natal - Rio Grande do Norte</p></a>
				<a ng-href="mailto:diviaco.rn@hotmail.com" class="item item-icon-left"><i class="icon ion-ios-email"></i><p>diviaco.rn@hotmail.com</p></a>
			</div>
			<div class="list card">
				<p style="text-align:center; color:black;">GPLAN</p>
				<a ng-href="" class="item item-icon-left"><i class="icon ion-ios-location"></i><p>Rua São Patrickm, 583 Planalto<br>Natal - Rio Grande do Norte</p></a>
				<a ng-href="tel:(84)32182393" class="item item-icon-left"><i class="icon ion-ios-telephone"></i><p>(84) 3218-2393</p></a>
				<a ng-href="mailto:gplan-gesso@hotmail.com" class="item item-icon-left"><i class="icon ion-ios-email"></i><p>gplan-gesso@hotmail.com</p></a>
			</div>


		</ion-content>
	</ion-pane>
</ion-view>
